<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PBSim.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>14</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4882A9E3BA7F13429E20283639E38A5233B04473</string>
				<key>dateExpires</key>
				<string>3/2/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4882A9E3BA7F13429E20283639E38A5233B04473</string>
						<key>dateExpires</key>
						<string>3/2/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9782HGY2C</string>
						<key>name</key>
						<string>Tanmay Sharma</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4882A9E3BA7F13429E20283639E38A5233B04473</string>
						<key>dateExpires</key>
						<string>3/2/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9782HGY2C</string>
						<key>name</key>
						<string>Tanmay Sharma</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4882A9E3BA7F13429E20283639E38A5233B04473</string>
						<key>dateExpires</key>
						<string>3/2/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9782HGY2C</string>
						<key>name</key>
						<string>Tanmay Sharma</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U9782HGY2C.com.tanmay.pbs</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>U9782HGY2C</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PBSim.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3f19cea1-81b3-47d1-9b47-df51540d261b</string>
				<key>dateExpires</key>
				<string>3/4/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.tanmay.pbs</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U9782HGY2C</string>
				<key>name</key>
				<string>Tanmay Sharma</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
